<div class="desc" *ngIf="!this.getCurrEmail()">
  In order to adapt the default acoustic model to your speech, you should record your voice dictating some of your own emails. Each time you record one, you can replay it and then
  save it to your dictations. After some dictations, click adapt current dictations button.
</div>
<div class="button-start" *ngIf="!this.getCurrEmail()">
  <button class="btn btn-info btn-lg button-start" (click)="this.getEmail()">Start adaptation</button>
</div>

<div class="wrapper" *ngIf="this.getCurrEmail() && !end">
  <div class="text">
    {{this.getCurrEmail().email}}
  </div>
  <div *ngIf="!isRecording && !blobUrl && !end" class="rec-button">
    <button class="btn btn-info btn-lg" (click)="startRecording()"> <span class="glyphicon glyphicon-record"></span> Record </button>
  </div>
  <div *ngIf="isRecording && !blobUrl" class="rec-button">
    <button class="btn btn-info btn-lg " (click)="stopRecording()"><span class="glyphicon glyphicon-stop"></span> Stop {{recordedTime}}</button>
  </div>
  <div *ngIf="!isRecording && blobUrl && !reload" class="rec-button">
    <div class="player">
      <audio controls>
        <source [src]="blobUrl" type="audio/webm">
      </audio>
    </div>
    <div class="clear-rec">
      <button class="btn btn-lg" (click)="clearRecordedData()"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </div>
</div>


<div *ngIf="this.getCurrEmail() && !isRecording && blobUrl && !reload" class="save-butt">
  <button class="btn btn-info btn-lg" (click)="saveDictation()">Save current dictation</button>
</div>


<div *ngIf="!isRecording && !blobUrl && !end" class="final-button">
  <button class="btn btn-info btn-lg green" (click)="adaptAcoustic()"> Adapt current dictations </button>
</div>
<div *ngIf="!isRecording && !blobUrl && end">
  <h3 class="finish">Acoustic model adaptation finished</h3>
</div>