.button-rec{
  width: 20%;
}

.center-rec{
padding-top: 2%;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}


.center-text{
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

h3 {
  padding-top: 5%;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center
}

body{
  margin-bottom: 5%;
}

.boxes {
  display: flex;
}
.boxes > div {
  flex: 1; /*grow*/
  text-align: center;
  margin-top: 5%;
}

.text{
  padding: 2%;
}
