.button-rec{
  width: 20%;
}

.center-rec{
padding-top: 2%;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}


.center-text{
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

h3 {
  padding-top: 5%;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center
}


.textbox {
  text-align: center;
  width: 40%;
  margin: 5% 0 5% 30%;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: #efffff;
  font-size: 16px;
}
