.wrapper-top {
    overflow: hidden; /* will contain if #first is longer than #second */
}

.github{
  margin-left: 5%;
}

.find-us{
  border: ridge;
  background-color: #e6ffff;
  padding: 1% 0% 1% 1%;
  margin-top: 2%;
  margin-left: 80%;
  margin-right: 10%;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

.logo{
  margin-left: 40%;
  width: 20%;
  float:left; /* add this */
}

.gmailButton{
  width: 20%;
  margin: 5% 0% 10% 40%;
  border: groove;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center_title {
  text-align:center;
  margin: 5% 0 5% 0;
}

.center_text{
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 50%;
}

.emailButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 5%;
  width: 20%;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}

.wrapper{
  text-align: center;
}

/* Fonts */
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.desc-title{
  margin-left: 34%;
  text-align: left;
}

h2 {
  font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}


#list-wrapper {
    overflow: hidden; /* will contain if #first is longer than #second */
    margin: 5% 2% 5% 2%;
    border-style: ridge;

}
#first {
    width: 50%;
    float:left; /* add this */
}


#first-text {
    float:left; /* add this */
    margin-left: 37%;
    font-weight: 800;
}

.check-butt{
  margin-right: 37%;
}

.ul-msg {
  list-style-type: none;
  width: 80%;
  height: 800px;
  margin-left: 10%;
}

.ul-text {
  list-style-type: none;
  width:50%;
}


.steps{
  padding: 0 0% 8% 40%;
}

.li-steps{
  text-align: left;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

div.scroll {
    text-align:justify;
    overflow:hidden;
    overflow-y:scroll;
}


li img {
  float: left;
}

.border-bott{
  border-bottom-style: solid;
}

.send-form{
  margin: 10%;
}
