.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center_title {
  text-align:center;
}

.emailButton {
  text-align: center;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.wrapper{
  text-align: center;
}


#list-wrapper {
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 50%;
    float:left; /* add this */
}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  height:1000px;
  width:45%;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}
div.scroll {
    text-align:justify;
    overflow:hidden;
    overflow-y:scroll
}
