<html>
<head>
  <meta name="google-signin-client_id" content="301659838263-09v8vjmar6eae1j1g6ipodtcn9sv81bf.apps.googleusercontent.com">
</head>
<body>

<img src="../../../assets/img/gsoc.png" alt="Gsoc Logo" class="center_img"/>

<h1 class="center_title">Creation of an online Greek mail dictation system</h1>

<br>
<br>
<div class="btn white darken-4 col s10 m4 center_img">
     <a style="text-transform:none">
        <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
          Login with Google
     </a>
</div>


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>
