<div *ngIf="!this.getClustersSession()" class="div-form">
  <form #clusterform="ngForm" (ngSubmit)="onSubmit(clusterform)" class="form w3-border w3-round-xlarge">
    <div class="row">
      <div class="col-25">
        <strong>Number of clusters:</strong> <br> (If none is specified, above methods are applied):
      </div>
      <div class="col-75">
        <input type="number" name="n_clusters" ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <strong>Method for automatic selection of number of clusters:</strong>
      </div>
      <div class="col-75">
        <input type="radio" name="method" value="silhouette" ngModel>Silhouette
        <br>
        <input type="radio" name="method" value="knee" ngModel>Knee
      </div>
    </div>
    <div class="row">
      <div class="slider-text">
        <strong> Specify min and max number of clusters:</strong><br>(In case of automatic number of clusters selection)
      </div>
      <div class="slider-bar">
        <input type="hidden" name="min_cl" [(ngModel)]="rangeSliderMinValue">
        <input type="hidden" name="max_cl" [(ngModel)]="rangeSliderMaxValue">
        <ng5-slider id="slider" [(value)]="rangeSliderMinValue" [(highValue)]="rangeSliderMaxValue" [options]="rangeSliderOptions"></ng5-slider>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <strong>Distance Metric to be used:</strong>
      </div>
      <div class="col-75">
        <input type="radio" name="metric" value="cosine" ngModel>Cosine
        <br>
        <input type="radio" name="metric" value="euclidean" ngModel>Euclidean
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <strong>Level of clustering:</strong>
      </div>
      <div class="col-75">
        <input type="radio" name="level" value="email" ngModel>Email
        <br>
        <input type="radio" name="level" value="sentence" ngModel>Sentence
      </div>
    </div>
    <input class="submit-button w3-round-xlarge " type="submit" value="Cluster my Emails">
  </form>
</div>

<div class="center" *ngIf="this.getClustersSession()">
  <h3>Keywords</h3>
  <ul class="w3-ul w3-hoverable">
    <li *ngFor="let keyword of this.getClustersSession().keywords | keyvalue">
      {{keyword.key}} : {{keyword.value}}
    </li>
  </ul>
  <h3>Samples</h3>
  <ul class="w3-ul w3-hoverable">
    <li *ngFor="let sample of this.getClustersSession().samples">
      {{sample}}
    </li>
  </ul>
  <h3>Clusters</h3>
  <ul class="w3-ul w3-hoverable">
    <li *ngFor="let cluster of this.getClustersSession().clusters;  let i = index">
      <h4>Cluster {{i}}</h4>
      <ul class="w3-ul w3-hoverable">
        <li *ngFor="let email of cluster">
          {{email}}
        </li>
      </ul>
    </li>
  </ul>
</div>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">